/* COMMON */

body {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
}

/* MAIN PAGE */

div#dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    z-index: 101;
    display:none;
}

div.web_dialog {
    display: none;
    position: fixed;
    width: 450px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -100px;
    background: #fff;
    border: 2px solid #060;
    padding: 0px;
    z-index: 102;
    font-height: 12px;
}

div.web_dialog h3.dialog_title {
    color: white;
    background: #060;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border:0px;
    font-weight: bold;
}

ul.formitems {
    border: 0; margin: 0; padding: 0;
    list-style: none;
    margin: 5px;
}
ul.formitems li {
    clear: both;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 5px;
}
div.web_dialog form {
    margin: 10px;
}
form label {
    width: 150px;
    float: left;
    font-weight: bold;
}
form input {
    float: left;
}
form input.dialog_text {
    float: left;
    width: 250px;
}

/* REVIEW PAGE */

div#reviewHeader {
    width: 100%;
    border: 1px solid black;
    margin: 2px;
}
div#fileList span#fileListTitle {
    display: block;
    text-align:top;
}
div#fileList>ul {
  margin-left: 0px;
  padding-left: 0px;
}
div#fileList>ul>li {
  margin-left: 0px;
  padding-left: 0px;
}
div#fileList>ul>li>ul>li {
  margin-left: 0px;
  padding-left: 0px;
}
div#fileList {
    width: 200px;
    height: 400px;
    display: block;
    border: 1px solid black;
    margin: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: 0,50px;

}
/*  TODO FIGURE OUT HOW TO MAKE FILE LIST SHRINK PROPERLY WHEN NOT HOVERED OVER
div#filelist:hover {
    width: 25%;
    height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

div#diffPanel {
    width: 70%;
    border: 1px solid black;
    margin: 2px;
    margin-left: 30%;
}

div#fileList ul {
    list-style: none;
    margin: 0;
    padding: 0;s
    text-overflow: ellipsis;
}
div#fileList li {
    padding: 1px;
    padding-left: 20px;
    text-overflow: ellipsis;
}
div#fileList li > a {
    height: 16px;
    background-repeat: no-repeat;
    background-align: top left;
    padding: 2px;
    padding-left: 20px;
}
div#fileList li.file > a {
    background-image: url(/icons/page_white_text.png);
}
div#fileList li.folder > a {
    background-image: url(/icons/folder.png);
}

div#fileList a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
div#fileList a:hover {
    text-decoration: underline;
}

